<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="fabrica">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.username">sapo_admin</property>
  <property name="hibernate.connection.password">sapo_admin</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.multiTenancy">DATABASE</property>
  <property name="hibernate.multi_tenant_connection_provider">util.MultiTenantConnectionProviderImpl</property>
  <mapping class="dominio.Categoria"/>
  <mapping class="dominio.Producto"/>
  <mapping class="dominio.Nota"/>
  <mapping class="dominio.Notificacion"/>
  <mapping class="dominio.ProductoAComprar"/>
  <mapping class="dominio.LogEntry"/>
 </session-factory>
</hibernate-configuration>
